---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Arcane Obscura">
  <main class="flex items-center justify-center h-screen">
    <div class="text-center px-4">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-mystical text-white drop-shadow-lg">
        You've found the portal. What's next?
      </h1>
    </div>
  </main>
</Layout>